.App {
  /* background-color: wheat; */
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    "nav" "content" "content" "content" "content"
    "content" "content" "content" "content" "content";
  gap: 10px;
}
.nav-bar {
  grid-area: nav;
  border: 1px solid;
  /* display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo logo . . . . . . icon icon"; */
}
/* .logo {
  grid-area: logo;
}
.icon {
  grid-area: icon;
} */
.home {
  grid-area: content;
  /* border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  gap: 20px;
  overflow-y: scroll;
}
.image {
  display: flex;
  justify-content: end;
  align-items: end;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.section2 {
  /* display: grid;
  overflow-x: hidden;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: " left left left left right right right right right right"; */
}
/* w-[200px] absolute left-0 h-[200px] rounded-[12px] */
/* left: 30%; */
/* top: 30%; */
/* bottom: 100%; */
/* w-[150px] h-[150px] absolute bottom-[80%] left-[30%]  */
.carooucel {
  /* grid-area: right;
  /* border: 1px solid; */
  /* position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* grid-area: 20px; */
}
.desc {
  /* grid-area: left;
  border: 1px solid; */
}
